* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: rgba(77, 73, 73, 0.166); */
  background-image: url(./assets/ivan-dimitrov-GUZopnPYiC8-unsplash.jpg);
  background-size: cover;
}
main {
  width: 700px;
  margin-bottom: 40px;
}
h1 {
  font-size: 50px;
  margin-top: 20px;
  color: white;
}
h2 {
  margin-top: 30px;
  color: white;
}
.input_todo > h2 {
  font-size: 35px;
  font-weight: 400;
  color: white;
}
.input_balel {
  margin-top: 20px;
  font-size: 20px;
  color: white;
}
.pick {
  margin-top: 20px;
  font-weight: 400;
  color: white;
}
.completed {
  text-decoration: line-through;
  color: #00000089;
}
.personal_check {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border: 3px solid rgba(209, 30, 136, 1);
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}
.personal_check:hover {
  -webkit-box-shadow: 0px 0px 38px 7px rgba(209, 30, 136, 0.2);
  -moz-box-shadow: 0px 0px 38px 7px rgba(209, 30, 136, 0.2);
  box-shadow: 0px 0px 38px 7px rgba(209, 30, 136, 0.2);
}
.personal_check::before {
  content: "";
  width: 12px;
  height: 12px;
  background-color: rgba(209, 30, 136, 1);
  border-radius: 50%;
  opacity: 0;
  transition: 0.3s;
}
.checked:checked ~ .personal_check::before {
  opacity: 1;
}

.bisness_check {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border: 3px solid rgba(42, 116, 198, 1);
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}
.bisness_check:hover {
  -webkit-box-shadow: 0px 0px 38px 19px rgba(42, 116, 198, 0.2);
  -moz-box-shadow: 0px 0px 38px 19px rgba(42, 116, 198, 0.2);
  box-shadow: 0px 0px 38px 19px rgba(42, 116, 198, 0.2);
}

.bisness_check::before {
  content: "";
  width: 12px;
  height: 12px;

  background-color: rgba(42, 116, 198, 1);
  border-radius: 50%;
  opacity: 0;
}
.checked:checked ~ .bisness_check::before {
  opacity: 1;
}

.form_todo {
  display: flex;
  flex-direction: column;
}
.input_todo {
  display: flex;
  flex-direction: column;
}

.input_todo > label {
  display: flex;
  flex-direction: column;
}
.category {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.category label {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.bisness {
  background-color: white;
  width: 300px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.personal {
  background-color: white;
  width: 300px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
#todo {
  height: 60px;
  border-radius: 10px;
  text-align: left;
  padding-left: 10px;
  outline: none;
  border: none;
  margin-top: 10px;
}
.checked {
  display: none;
}

li {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  border: 1px black solid;
  margin-top: 20px;
  background-color: white;
  border: none;
}
li div {
  display: flex;
  margin: 0 20px;
}
.edit {
  background-color: #c62d85;
  cursor: pointer;
  height: 50px;
  width: 100px;
  border-radius: 10px;
  margin-right: 10px;
  border: none;
  color: white;
}
.edit:hover {
  -webkit-box-shadow: 0px 0px 38px 7px rgba(209, 30, 136, 0.2);
  -moz-box-shadow: 0px 0px 38px 7px rgba(209, 30, 136, 0.2);
  box-shadow: 0px 0px 38px 7px rgba(209, 30, 136, 0.2);
}

.delete {
  background-color: #dc4644;
  cursor: pointer;
  height: 50px;
  width: 100px;
  border-radius: 10px;
  margin-right: 10px;
  border: none;
  color: white;
}
.delete:hover {
  -webkit-box-shadow: 0px 0px 38px 19px rgba(220, 70, 68, 0.2);
  -moz-box-shadow: 0px 0px 38px 19px rgba(220, 70, 68, 0.2);
  box-shadow: 0px 0px 38px 19px rgba(220, 70, 68, 0.2);
}
.add {
  height: 60px;
  border: none;
  border-radius: 10px;
  background-color: rgba(42, 116, 198, 1);
  cursor: pointer;
  margin-top: 40px;
  color: white;
}

.add:hover {
  -webkit-box-shadow: 0px 0px 38px 19px rgba(42, 116, 198, 0.2);
  -moz-box-shadow: 0px 0px 38px 19px rgba(42, 116, 198, 0.2);
  box-shadow: 0px 0px 38px 19px rgba(42, 116, 198, 0.2);
}
